@import '~src/styles';

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

mat-sidenav {
  width: 20rem;
}

mat-list-item {
  height: auto !important;
  margin-bottom: 8px;
  cursor: pointer;
}

//mat-list-item:

//mat-sidenav {
//  width: 15%;
//  left: 15%;
//}
.functionality-list, .privileges-list {
  cursor: pointer;
}

.functionality-list {

}

.privileges-list {

}
