@import '~src/styles';

.dialog-container {
  display: flex;
  flex-direction: column;
}

.list-container {
  @extend .absolute-container;
  margin: 0 .5rem;
  bottom: 3.5rem;
  //flex: 1;
}

.buttons-container {
  @extend .absolute-container;
  display: flex;
  justify-content: center;
  margin: 5px;
  top: auto;
}

// dla potomności :D
.🐼 {
  background-color: aqua;
}
