@import '~src/styles.scss';

.small-logo {
  max-width: 40px;
  max-height: 40px;
}

.list-item {
  cursor: pointer;
  height: 2.5rem !important;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
