@import '~src/styles.scss';

.small-logo {
  width: 30px;
  max-height: 30px;
  margin-right: .25rem;
}

.list-item {
  cursor: pointer;
  height: 2.5rem !important;
  align-items: center;
  font-size: .75rem;

  //:first-child {
  //  display: flex;
  //  justify-content: space-between !important;
  //  width: 100%;
  //}
}

//Stylowanie angularowego komponentu mat-list-item-content
//Żrodlo: https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep
:host /deep/ .mat-list-item-content {
  display: flex !important;
  justify-content: space-between;
  width: 100%;
}
