.mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon-size-small {
  @extend .mat-icon;

  font-size: .75rem;
}

.mat-icon-size-medium {
  @extend .mat-icon;

  font-size: 1rem;
}

.mat-icon-size-big {
  @extend .mat-icon;

  font-size: 1.5rem;
}

.icon {
  @extend %fa-icon;
  @extend .fa;

  font-size: 1rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.bars-icon {
  @extend .icon;
  font-size: 1.5rem;

  &:before {
    content: fa-content($fa-var-bars);
  }
}

.appmenu-icon {
  @extend .icon;
  min-width: 16px;
  text-align: center;

  &:before {
    content: fa-content($fa-var-ghost);
  }
}

.sidenav-icon {
  @extend .icon;

  &:before {
    width: 1.5rem;
    content: fa-content($fa-var-toolbox);
  }
}

.confmenu-header-icon {
  @extend .icon;

  &:before {
    content: fa-content($fa-var-atom);
  }
}

.user-icon {
  @extend .icon;
  color: $cat-headers-color;
  font-size: 1.25rem;

  &:after {
    margin-left: 0.4rem;
    font-size: 2rem;
    content: fa-content($fa-var-user-circle);
  }
}

.login-icon {
  @extend .icon;

  &:before {
    content: fa-content($fa-var-sign-in-alt);
  }
}

.logout-icon {
  @extend .icon;

  &:before {
    content: fa-content($fa-var-sign-out-alt);
  }
}

.list-item-icon {
  @extend .icon;

  &:before {
    font-size: 0.75rem;
    content: fa-content($fa-var-chevron-right);
  }
}
