<div *ngIf="group" class="container" >
  <mat-card class="group-info-container">
    <mat-form-field [floatLabel]="'always'"> <!-- [formGroup]="groupForm">-->
      <input matInput [(ngModel)]="group.id" placeholder="ID">
    </mat-form-field>

    <mat-form-field [floatLabel]="'always'"> <!-- [formGroup]="groupForm">-->
      <input matInput [(ngModel)]="group.name" placeholder="Nazwa">
    </mat-form-field>
  </mat-card>

  <div class="column-container">
    <app-user-card class="column-left" [users]="group.user"></app-user-card>

    <mat-card class="column-right">
      <mat-card-header>
        <mat-card-title>Aplikacje</mat-card-title>
        <div class="spacer"></div>
<!--        <button mat-mini-fab color="accent" (click)="onAddApplicationsButton()">-->
<!--          <mat-icon class="mat-18">add</mat-icon>-->
<!--        </button>-->
<!--        <button mat-mini-fab color="accent" (click)="onRemoveApplicationsButton()">-->
<!--          <mat-icon class="mat-18">delete</mat-icon>-->
<!--        </button>-->
      </mat-card-header>
      <mat-card-content>
<!--        <div *ngIf="group.applications">-->
          <app-simple-table [config]="appsData"></app-simple-table>
<!--        </div>-->
      </mat-card-content>
    </mat-card>
  </div>
</div>
