:host {
  display: block;
  border: 3px solid antiquewhite;
  background-color: beige;
  border-radius: 8px;
  height: 5rem;
  box-sizing: border-box;
  margin: 4px 16px 16px 16px;
  text-align: center;
  vertical-align: middle;
}
