@import '~src/styles.scss';

.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid map-get($cat-primary, default);
  border-radius: 8px;
  height: 20rem;
  box-sizing: border-box;
  margin: 4px 16px 16px 16px;

  &:hover {
    background: mat-color($cat-primary, '50');
  }
}

.tile-logo, .tile-name {
  padding: 5px;
  flex-shrink: 1;
}

.tile-logo {
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

