<mat-toolbar class="screen-over-960">
  <div class="layout-flex-row">
    <div class="logo-container">
      <img alt="" class="logo" src="../../../assets/img/cat.png">
    </div>

    <div class="buttons-container">
      <button mat-flat-button color="primary" routerLink="/application">
        <span class="appmenu-icon"></span>Aplikacje
      </button>
      <button mat-flat-button color="primary" routerLink="/configuration">
        <span class="sidenav-icon"></span>Konfiguracja
      </button>
    </div>
  </div>
  <!--<div class="active-app-title" *ngIf="activeApp">-->
    <!--{{ activeApp }}-->
  <!--</div>-->

  <div class="login-container">
    <span *ngIf="logged" class="user-icon">Lala Blabla</span>
    <button mat-flat-button color="accent" (click)="onLoggingButtonClick()">
      <span [ngClass]="logged ? 'logout-icon' : 'login-icon'"></span>
      {{ logged ? "Wyloguj" : "Zaloguj" }}
    </button>
  </div>
</mat-toolbar>

<mat-toolbar class="screen-under-960">
  <div class="layout-flex-row">
    <button mat-icon-button color="accent" class="menu-button"
            (click)="sidenavMenu.toggle()"><mat-icon>list</mat-icon></button>
    <div class="logo-container">
      <img alt="" class="logo" src="../../../assets/img/cat.png">
    </div>
  </div>


  <!--<div class="active-app-title" *ngIf="activeApp">-->
  <!--{{ activeApp }}-->
  <!--</div>-->

  <div class="user-container">
    <span *ngIf="logged" class="user-icon">Lala Blabla</span>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenavMenu>
    <mat-nav-list>
      <mat-list-item class="list-item" routerLink="/application">
        <span class="appmenu-icon"></span> Aplikacje
      </mat-list-item>
      <mat-list-item class="list-item" routerLink="/configuration">
        <span class="sidenav-icon"></span> Konfiguracja
      </mat-list-item>
      <mat-list-item class="list-item" routerLink="/logout" (click)="onLoggingButtonClick()">
        <span [ngClass]="logged ? 'logout-icon' : 'login-icon'"></span>
        {{ logged ? "Wyloguj" : "Zaloguj" }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
