<div *ngIf="user" class="form-container">

  <mat-card class="account-info-container">
    <div class="column-left">
      <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'always'">
        <input matInput [(ngModel)]="user.id" placeholder="Login" required>
      </mat-form-field>

      <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'always'">
        <input matInput [(ngModel)]="user.name.full" placeholder="Nazwa użytkownika" required>
      </mat-form-field>

      <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'always'">
        <input matInput [(ngModel)]="user.department" placeholder="Wydział">
      </mat-form-field>

      <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'always'">
        <input matInput [(ngModel)]="user.email" placeholder="Email" required>
      </mat-form-field>
    </div>

    <div class="column-right">
      <mat-checkbox [(ngModel)]="user.active">Aktywny</mat-checkbox>
      <mat-checkbox [(ngModel)]="user.administrator">Administrator</mat-checkbox>
      <mat-checkbox [(ngModel)]="!user.password.expires">Hasło nigdy nie wygasa</mat-checkbox>
      <mat-checkbox [(ngModel)]="user.password.immutable">Użytkownik może zmienić hasło</mat-checkbox>
      <mat-checkbox [(ngModel)]="user.password.mustChange">Użytkownik musi zmienić hasło przy następnym logowaniu</mat-checkbox>
      <mat-checkbox [disabled]="true">Konto zablokowane</mat-checkbox> <!-- [(ngModel)]="user" -->

      <div class="filler"></div>
      <div class="user-history" *ngIf="user.history">
        <table class="table-borderless">
          <tr><td>Udane logowanie:</td><td>{{ user.lastLogon.successful }}</td></tr>
          <tr><td>Nieudane logowanie:</td><td>{{ user.lastLogon.failed }}</td></tr>
          <tr><td>Utworzony:</td><td>{{ user.history.created }}</td></tr>
          <tr><td>Data ostatniej modyfikacji:</td><td>{{ user.history.modified }}</td></tr>
        </table>
      </div>
    </div>

  </mat-card>

  <div class="column-container">
    <app-group-card class="column-left" [groups]="user.group"></app-group-card>

    <mat-card class="column-right">
      <mat-card-header>
        <mat-card-title>Aplikacje</mat-card-title><div class="spacer"></div>
<!--        <button mat-mini-fab color="accent" (click)="onAddApplicationsButton()">-->
<!--          <mat-icon class="mat-18">add</mat-icon>-->
<!--        </button>-->
<!--        <button mat-mini-fab color="accent" (click)="onRemoveApplicationsButton()">-->
<!--          <mat-icon class="mat-18">delete</mat-icon>-->
<!--        </button>-->
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="user.applications">
          <app-simple-table [config]="appSource"></app-simple-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
