<div class="tab-container">
  <div class="right-align">
    <button mat-button disabled>Zapisz</button>
    <button mat-button disabled>Anuluj</button>
  </div>

  <mat-tab-group #eligibilityTabPanel (selectedTabChange)="onTabChange($event.index)">
    <mat-tab label="Użytkownicy">
      <mat-sidenav-container>
        <mat-sidenav [@animateSideNav]="sideNavState ? 'close' : 'open'" #leftSidenav mode="side" opened>
          <div class="no-v-scroll">
            <mat-toolbar>
              <span class="spacer"></span>
              <div class="buttons-container">
                <button mat-icon-button class="mat-icon" routerLink="/eligibility/users/new"
                  [@displayMenuText]="linkText ? 'hide' : 'show'">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button class="mat-icon" (click)="deleteSelected('users')"
                  [@displayMenuText]="linkText ? 'hide' : 'show'">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button class="mat-icon" (click)="onSideNavToggle()">
                  <mat-icon *ngIf="sideNavState">keyboard_arrow_right</mat-icon>
                  <mat-icon *ngIf="!sideNavState">keyboard_arrow_left</mat-icon>
                </button>
              </div>
            </mat-toolbar>
            <div class="sidenav-list-content" >
              <mat-list class="">
                <mat-list-item [@displayMenuText]="linkText ? 'hide' : 'show'"
                  *ngFor="let user of users$ | async"
                  routerLink="/eligibility/users/{{ user.id }}" matRipple
                  routerLinkActive="active">
                  {{ user.name.full }}
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </mat-sidenav>
        <mat-sidenav-content [@animateSideNavContent]="sideNavState ? 'close' : 'open'">
          <div class="main_content">
            <div style="padding: 20px">
              <section>
                <div *ngIf="!createNew">
                  <app-user-info [user]="user$ | async"></app-user-info>
                </div>
                <div *ngIf="createNew">
                  <app-user-info [user]="newUser"></app-user-info>
                </div>
              </section>
            </div>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </mat-tab>

    <mat-tab label="Grupy" routerLink="/eligibility/groups">
        <mat-sidenav-container>
          <mat-sidenav [@animateSideNav]="sideNavState ? 'close' : 'open'" #leftSidenav mode="side" opened>
            <div class="no-v-scroll">
              <mat-toolbar>
                <span class="spacer"></span>
                <button mat-icon-button class="mat-icon" routerLink="/eligibility/groups/new"
                  [@displayMenuText]="linkText ? 'hide' : 'show'">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button class="mat-icon" (click)="deleteSelected('users')"
                  [@displayMenuText]="linkText ? 'hide' : 'show'">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button class="mat-icon" (click)="onSideNavToggle()">
                  <mat-icon *ngIf="sideNavState">keyboard_arrow_right</mat-icon>
                  <mat-icon *ngIf="!sideNavState">keyboard_arrow_left</mat-icon>
                </button>
              </mat-toolbar>
              <div class="sidenav-list-content">
                <mat-list class="">
                    <mat-list-item [@displayMenuText]="linkText ? 'hide' : 'show'"
                    *ngFor="let group of groups$ | async"
                    routerLink="/eligibility/groups/{{ group.id }}" matRipple>
                    {{ group.name }}
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </mat-sidenav>
          <mat-sidenav-content [@animateSideNavContent]="sideNavState ? 'close' : 'open'">
            <div class="main_content">
              <div style="padding: 20px">
                  <section>
                      <div *ngIf="!createNew">
                        <app-group-info [group]="group$ | async"></app-group-info>
                      </div>
                      <div *ngIf="createNew">
                        <app-group-info [group]="newGroup"></app-group-info>
                      </div>
                      <!--          <div *ngIf="group$ | async as group">-->
                      <!--&lt;!&ndash;            <app-user-info [group]="group"></app-user-info>&ndash;&gt;-->
                      <!--            Grupa: {{ group.name }}-->
                      <!--          </div>-->
                    </section>
              </div>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </mat-tab>

    <mat-tab label="Aplikacje">
      <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
          <mat-list>
            <mat-list-item class="" *ngFor="let application of applications$ | async"
              routerLink="/eligibility/applications/{{ application.id }}" matRipple>
              {{ application.name }}
            </mat-list-item>
          </mat-list>
          <!--          <mat-tree>-->

          <!--          </mat-tree>-->
        </mat-sidenav>
        <section>
          <div *ngIf="application$ | async as application">
            <app-application-info [application]="application"></app-application-info>
            Aplikacja: {{ application.name }}
          </div>
        </section>
      </mat-sidenav-container>
    </mat-tab>
  </mat-tab-group>
</div>
