<div class="tab-container">
  <div class="right-align">
    <button mat-button [disabled]="!params.id" (click)="onSaveButtonClick()">Zapisz</button>
    <button mat-button [disabled]="!params.id" (click)="onCancelButtonClick()">Anuluj</button>
  </div>

  <mat-tab-group #eligibilityTabPanel (selectedTabChange)="onTabChange($event.index)">
    <mat-tab label="Użytkownicy">
      <mat-sidenav-container>
        <!-- to nie zawartość znika tylko chowa się boczny panel z jakiegoś powodu -->
        <!-- może spróbować z innymi typami paneli -->
        <mat-sidenav #userSideNav (closedStart)="closedStart('userSideNav')" [@animateSideNav]="sideNavState ? 'close' : 'open'" mode="side" opened>
          <div class="no-v-scroll">
            <mat-toolbar>
              <span class="spacer"></span>
              <div class="buttons-container">
                <button mat-icon-button class="mat-icon" routerLink="/eligibility/users/new"
                  [@displayMenuText]="linkText ? 'hide' : 'show'">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button class="mat-icon" (click)="deleteSelected('users')"
                  [@displayMenuText]="linkText ? 'hide' : 'show'">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button class="mat-icon" (click)="onSideNavToggle()">
                  <mat-icon *ngIf="sideNavState">keyboard_arrow_right</mat-icon>
                  <mat-icon *ngIf="!sideNavState">keyboard_arrow_left</mat-icon>
                </button>
              </div>
            </mat-toolbar>
            <div class="sidenav-list-content" >
              <mat-list class="">
                <mat-list-item [@displayMenuText]="linkText ? 'hide' : 'show'"
                                *ngFor="let user of users$ | async"
                                routerLink="/eligibility/users/{{ user.id }}" matRipple
                                routerLinkActive="active">
                  {{ user.name.full }}
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </mat-sidenav>
        <mat-sidenav-content [@animateSideNavContent]="sideNavState ? 'close' : 'open'">
          <div class="main_content">
            <div style="padding: 20px">
              <section>
                <div *ngIf="!createNew">
                  <div *ngIf="user$ | async as user">
                    <app-user-info #userData [user]="user"></app-user-info>
                  </div>
                </div>
                <div *ngIf="createNew">
                  <app-user-info #userData [user]="newUser"></app-user-info>
                </div>
              </section>
            </div>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </mat-tab>

    <mat-tab label="Grupy" routerLink="/eligibility/groups">
        <mat-sidenav-container>
          <mat-sidenav #groupSideNav [@animateSideNav]="sideNavState ? 'close' : 'open'" mode="side" opened>
            <div class="no-v-scroll">
              <mat-toolbar>
                <span class="spacer"></span>
                <div class="buttons-container">
                  <button mat-icon-button class="mat-icon" routerLink="/eligibility/groups/new"
                    [@displayMenuText]="linkText ? 'hide' : 'show'">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button mat-icon-button class="mat-icon" (click)="deleteSelected('users')"
                    [@displayMenuText]="linkText ? 'hide' : 'show'">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button class="mat-icon" (click)="onSideNavToggle()">
                    <mat-icon *ngIf="sideNavState">keyboard_arrow_right</mat-icon>
                    <mat-icon *ngIf="!sideNavState">keyboard_arrow_left</mat-icon>
                  </button>
              </div>
              </mat-toolbar>
              <div class="sidenav-list-content">
                <mat-list *ngIf="groups" class="">
                    <mat-list-item [@displayMenuText]="linkText ? 'hide' : 'show'"
                    *ngFor="let group of groups"
                    routerLink="/eligibility/groups/{{ group.id }}" matRipple>
                    {{ group.name }}
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </mat-sidenav>
          <mat-sidenav-content [@animateSideNavContent]="sideNavState ? 'close' : 'open'">
            <div class="main_content">
              <div style="padding: 20px">
                  <section>
                      <div *ngIf="!createNew">
                        <div *ngIf="group$ | async as group">
                          <app-group-info #groupData [group]="group"></app-group-info>
                        </div>
                      </div>
                      <div *ngIf="createNew">
                        <app-group-info #groupData [group]="newGroup"></app-group-info>
                      </div>
                    </section>
              </div>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </mat-tab>

    <mat-tab label="Aplikacje">
      <mat-sidenav-container>
        <mat-sidenav #appSideNav mode="side" opened>
          <mat-list>
            <mat-list-item class="" *ngFor="let application of applications$ | async"
              routerLink="/eligibility/applications/{{ application.id }}" matRipple>
              {{ application.name }}
            </mat-list-item>
          </mat-list>
          <!--          <mat-tree>-->

          <!--          </mat-tree>-->
        </mat-sidenav>
        <section>
          <div *ngIf="application$ | async as application">
            <app-application-info #appData [application]="application"></app-application-info>
            Aplikacja: {{ application.name }}
          </div>
        </section>
      </mat-sidenav-container>
    </mat-tab>
  </mat-tab-group>
</div>
