@import '~src/styles';

.tab-container {
  @extend .absolute-container;
}

mat-sidenav-container {
  position: fixed;
  top: $cat-toolbar-height + 49px;
  left: 0;
  right: 0;
  bottom: 2px;
  border-top-color: lightgray;
  border-top-width: 1px;
  border-top-style: solid;
}

mat-sidenav {
  width: 15%;
  min-width: 270px;
  overflow: hidden;
}

mat-toolbar {
  height: 3rem;
}

.sticky-toolbar {
  position: absolute;
  z-index: 999;
  top: 0;
}

.under-sticky {
  top: 2.5rem;
  position: relative;
}

section {
  display: flex;
  flex-flow: column nowrap;
}

mat-list {
  overflow: auto;
}

mat-list-item {
  font-size: small;
  cursor: pointer;
}

.add-new-element {
  background-color: #8fbc8faa;
}

.right-align {
  display: flex;
  align-items: center;
  height: 3rem;
  float: right;

  //button {
  //  border: solid 1px black;
  //}
}

//::ng-deep .mat-tab-disabled {
//  position: absolute;
//  right: 0;
//}

//::ng-deep .mat-tab-labels {
//  .mat-tab-disabled {
//    float: right;
//  }
//  //:last-child :parent {
//  //  position: absolute;
//  //  right: 0;
//  //}
//}

//.overflow-auto {
//  overflow: auto;
//}
//
//.spacer {
//  flex: 1 1 auto;
//}

mat-sidenav {
  width: 20px;
}

mat-sidenav-content {
  display: flex;
  flex-flow: column nowrap;
}

.p-0 {
  padding:  0 10px !important;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.no-v-scroll {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.sidenav-list-content{
  overflow-y: auto;
}

.buttons-container{
  display: flex;
  min-height: 48px;
  align-items: center;
}