<mat-toolbar>
  <mat-toolbar-row class="header screen-over-960">
    <div class="layout-flex-row">
      <div class="logo-container" matRipple>
        <!--<button mat-button routerLink="/"></button>-->
        <img alt="" routerLink="/" class="logo" src="../../../assets/img/cat.png">
      </div>

      <div class="buttons-container">
        <button mat-flat-button color="primary" routerLink="/application">
          <span class="appmenu-icon"></span>Aplikacje
        </button>
        <button mat-flat-button color="primary" routerLink="/configuration">
          <span class="sidenav-icon"></span>Konfiguracja
        </button>
        <button mat-flat-button color="primary" routerLink="/eligibility/users">
          <span class="sidenav-icon"></span>Uprawnienia
        </button>
      </div>

      <!-- <button mat-raised-button color="primary" (click)=themeComponent()>Primary</button>
      <div>Message: {{ message }}</div> -->
      <!-- <div> 
        <i class="fa fa-american-sign-language-interpreting fa-5x"> </i> 
        <i class="fa fa-sign-in-alt"> </i> 
        <i class="fa fa-user"> </i>  
        <i class="fa fa-cog"> </i>  

      </div> -->

      <!-- <div class="buttons-container">
        <button mat-raised-button color="primary" >Primary</button>
        <button mat-raised-button color="accent" >Accent</button>
        <button mat-raised-button color="warn">Warn</button>
      </div> -->


      <!-- <mat-form-field>
          <mat-select
          [(ngModel)]="theme"
          (selectionChange)="onThemeChange()"
          >
            <mat-option value="custom-black-theme">Black</mat-option>
            <mat-option value="custom-light-theme">Light</mat-option>
          </mat-select>
        </mat-form-field> -->

      <mat-form-field>
        <mat-select
        [(ngModel)]="currentTheme"
        >
          <mat-option value="currentTheme.light">Light</mat-option>
          <mat-option value="currentTheme.dark">Dark</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="header login-container">
      <span *ngIf="activeUser$ | async as user" class="user-icon">{{ user.name.full }}</span>
      <button mat-flat-button color="accent" (click)="onLoggingButtonClick()">
        <span [ngClass]="logged ? 'logout-icon' : 'login-icon'"></span>
        {{ logged ? "Wyloguj" : "Zaloguj" }}
      </button>

      <!-- <button mat-flat-button 
      routerLink="/settings"
      [matMenuTriggerFor]="userSettings"> -->
      <button mat-flat-button
      routerLink="/settings">
        <i class="fa fa-cog"> </i>
      </button>
      <!-- <mat-menu #userSettings="matMenu">
        <button mat-menu-item routerLink="/settings">
          <i class="fa fa-user"> </i>
          <span>Ustawienia</span>
        </button>
      </mat-menu> -->
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="screen-under-960">
    <div class="layout-flex-row v-center">
      <button mat-icon-button color="accent" class="menu-button"
              (click)="sidenavMenu.toggle()"><mat-icon>list</mat-icon></button>
      <div class="logo-container" matRipple>
        <img alt="" routerLink="/" class="logo" src="../../../assets/img/cat.png">
      </div>
    </div>

    <div class="layout-flex-row ">
    <div class="user-container">
      <span *ngIf="activeUser$ | async as user" class="user-icon">{{ user.name.full }}</span>
    </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-divider></mat-divider>

<!-- <mat-sidenav-container class="content-container" style="min-height: 50px; height: 100%;"> -->
  <mat-sidenav-container class="content-container">

  <mat-sidenav #sidenavMenu class="screen-under-960" role="navigation" autoFocus="false">
    <mat-nav-list>
      <div *ngFor="let link of linksList">
        <mat-list-item class="list-item list-item-header-container" [routerLink]=link.link (click)="link.link ? sidenavMenu.close() : null;">
          <span [ngClass]="link.iconClass"></span>{{ link.name }}
        </mat-list-item>
        <app-list *ngIf="link.type" [type]="link.type"></app-list>
      </div>

      <!-- <mat-list-item class="list-item list-item-header-container" routerLink="/settings">
        <i class="fa fa-user"> </i>
        <span>Ustawienia</span>
    </mat-list-item> -->

    <mat-list-item class="list-item list-item-header-container" routerLink="/settings">
      <i class="fa fa-user"> </i>
      <span>Ustawienia</span>
      
    </mat-list-item>

      <mat-list-item class="list-item login-option single-item" routerLink="/logout" (click)="onLoggingButtonClick()">
        <span [ngClass]="logged ? 'logout-icon' : 'login-icon'"></span>
        {{ logged ? "Wyloguj" : "Zaloguj" }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- <mat-sidenav-content class="sidenav-content" role="main" style="min-height: 50px; height: 100%;"> -->
    <mat-sidenav-content class="sidenav-content" role="main">
    <router-outlet></router-outlet>

    <!--<footer class="page-footer footer-container">-->
    <!--<div class="footer-copyright text-center py-3">© 2018 Copyright</div>-->
    <!--</footer>-->
  </mat-sidenav-content>

</mat-sidenav-container>
