@import '~src/styles';

.mat-toolbar-multiple-rows {
  height: $cat-toolbar-height;
}

mat-toolbar-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $cat-toolbar-height;
    height: $cat-toolbar-height;

    img {
      width: 70%;
      height: 70%;
    }
  }
}

.buttons-container {
  display: flex;
  align-items: center;
}

.content-container {
  flex-grow: 100;
}

.footer-container {
  position: fixed;
  bottom: 0;
}

.screen-under-960 {
  display: none;
  padding: 0;
}

.active-app-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: $cat-headers-color;
}

mat-sidenav {
  * {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 959px) {
  mat-sidenav {
    width: 40%;
  }

  .screen-over-960{
    display: none;
  }

  .screen-under-960{
    display: flex;
  }

  .menu-button {
    min-width: 32px;
    padding: 0 8px;

    * {
      font-size: 1.5rem;
    }
  }

  .list-item {
    cursor: pointer;
    height: 2.5rem !important;
    display: flex;
    align-items: center;

    app-list {
      mat-list {
        margin-left: 2rem;
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  mat-sidenav {
    width: 75%;
  }
}
