@import '~src/styles';

.table-container {
  @extend .absolute-container;
  top: $cat-toolbar-height;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  overflow: auto;
  align-items: stretch;
}

table {
  height: 90%;
  width: 100%;
}

.checkbox-column {
  width: 3rem;
}
