<mat-divider></mat-divider>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="confmenu-header-icon"></span>
        Lista aplikacji konfiguracyjnych
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-list>
      <mat-list-item class="conf-app-list-item" *ngFor="let application of applications"
                     (click)="onSelect(application)" matRipple>

        <span class="conf-app-list-item-icon"></span> {{ application.name }}
      </mat-list-item>
    </mat-list>

  </mat-sidenav>

  <section>
    <div *ngIf="applicationsService.getActive() as active;">
      <div *ngIf="active.url; then external else internal"></div>

      <ng-template #external>
        <app-iframe [url]="active.url"></app-iframe>
      </ng-template>

      <ng-template #internal>
        <div class="internal-content">
          <span > {{ active.color }}</span>
          <br><br>
          <input [(ngModel)]="active.name" placeholder="name">
        </div>
      </ng-template>

    </div>

  </section>
</mat-sidenav-container>
