@import '~src/styles';

mat-sidenav-container {
  @extend .absolute-container;

  margin-bottom: .75rem;
  border-top-color: lightgray;
  border-top-width: 1px;
  border-top-style: solid;
}

mat-sidenav {
  width: 15%;
  min-width: 270px;
}

mat-toolbar-row {
  font-size: medium;
  padding-left: 0.5rem;
}

mat-list {
  margin: 0;
  padding: 0;
}

mat-list-item {
  padding-left: 1.5rem;
}

section {
  display: flex;
  flex-flow: column nowrap;
}

section > div {
  @extend .absolute-container;

  background-color: white;
}

.internal-content {
  margin: 10px;
}

.conf-app-list-item {
  cursor: pointer;
  height: 2.5rem !important;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 959px) {
  mat-sidenav {
    display: none;
  }
}
