<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="confmenu-header-icon"></span>
        Lista aplikacji konfiguracyjnych
      </mat-toolbar-row>
    </mat-toolbar>

    <app-list [type]="'configuration'"></app-list>
  </mat-sidenav>

  <section #appSection>
    <div *ngIf="activeApp">
      <div *ngIf="activeApp.url; then external else internal"></div>

      <ng-template #external>
        <app-iframe [url]="activeApp.url"></app-iframe>
      </ng-template>

      <ng-template #internal>
        <div class="internal-content">
          <br><br>
          <input [(ngModel)]="activeApp.name" placeholder="name">
        </div>
      </ng-template>

    </div>

  </section>
</mat-sidenav-container>
