@import '~src/styles';

mat-sidenav-container {
  position: fixed;
  top: $cat-toolbar-height;
  left: 0;
  right: 0;
  bottom: 0;
  border-top-color: lightgray;
  border-top-width: 1px;
  border-top-style: solid;
}

mat-sidenav {
  width: 15%;
  min-width: 270px;
}

mat-toolbar-row {
  font-size: medium;
  padding-left: 0.5rem;
}

mat-list {
  margin: 0;
  padding: 0;
}

mat-list-item {
  padding-left: 1.5rem;
}

section {
  display: flex;
  flex-flow: column nowrap;
}

section > div {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.internal-content {
  margin: 10px;
}

.conf-app-list-item {
  cursor: pointer;
  height: 2.5rem !important;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 959px) {

}
