:host > div {
  padding: 20px 0 0 5%;
}

mat-grid-tile {
  background-color: beige;
  padding: 20px;
  border: solid 3px antiquewhite;
}

.tile-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
