@import '~src/styles';

.form-container {
  @extend .absolute-container;

  margin-top: .5rem;
  display: flex;
  flex-direction: row;
}

.qualifications-container {
  display: flex;
  flex-direction: column;
  flex: 3;
  margin: .5rem;
}

.account-info-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: .5rem;
  flex: 2;
}

.user-history {
  display: flex;
  font-size: small;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  align-self: flex-end;
}

.groups-container {
  flex: 1;
  margin: 0 .5rem .5rem .5rem;
}

.applications-container {
  flex: 1;
  margin: .5rem .5rem 0 .5rem;
}

mat-form-field {
  margin: 3px;
}

mat-card-content {
  mat-form-field {
    width: 100%;
  }
}

@media screen and (max-width: 959px) {
  .form-container {
    flex-wrap: wrap;
  }

  .groups-container, .applications-container {
    margin: 0 !important;
  }
}
